<!-- index.ejs -->
<html>

<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>

<body>
    <main>
        
            <% if (user) { %>
                <div class="d-flex flex-row justify-content-between" >
                    <h2>Hello <%= user.username %> </h2>
                    <a class="btn btn-danger btn" href="/log-out">LOG OUT</a>
                </div>

                <div class="d-flex flex-column align-items-center">
                    <a class="btn btn-success" href="/add-entry">Add Entry</a>
                    <% if (locals.entries) { %>
                        <%-include('message-board', {entries: entries}) %>
                    <% } %>
                </div>
            <% } else { %>
                <div class="window d-flex flex-column align-items-center justify-content-center">
                    <h1>You Are Not Logged In!</h1>
                    <a class="btn btn-primary" href="/">LOG IN</a>
                </div>
            <% } %>

        </div>
    </main>
</body>

</html>