<!-- index.ejs -->
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>

<body>
    <main>
        <div class="window d-flex flex-column align-items-center justify-content-center">
            <% if (messages) { %>
                <%= messages.error %>
            <% } %>
            <%-include('login-form'); %>
        </div>
    </main>
</body>

</html>