<!-- index.ejs -->
<html>

<head>
    <title>Homepage</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>

<body>
    <main>
        <div class="window d-flex align-items-center justify-content-center">
            <%-include('form'); %>
        </div>
    </main>
</body>

</html>