<html>

<head>
    <title>Success</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>

<body>
    <p>
        You have Logged In!
    </p>
</body>

</html>