.window {
    height: 100vh;
}

.form-window {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.textarea-form {
    height: 200px !important;
    resize: none;
}

/* .btest {
    border: 5px solid black;
} */
